In [1]:
"""
    Instruções:
        1- Responda as perguntas listadas no README.md;
         a) Qual a área total desmatada em hectares no estado de Minas Gerais em cada um dos meses de agosto e setembro de 2022?
         b) Qual a área total desmatada em km² no estado de Minas Gerais em todo o período fornecido (ago/set de 2022) por bioma?
         c) Qual a área total desmatada em km² no estado de Minas Gerais em cada um dos meses de agosto e setembro de 2022, por município?
        2- Faça as análises que julgar necessárias e deixe os resultados de suas análises plotadas no notebook.
"""

'\n    Instruções:\n        1- Responda as perguntas listadas no README.md;\n         Qual a área total desmatada em hectares no estado de Minas Gerais em cada um dos meses de agosto e setembro de 2022?\n         Qual a área total desmatada em km² no estado de Minas Gerais em todo o período fornecido (ago/set de 2022) por bioma?\n         Qual a área total desmatada em km² no estado de Minas Gerais em cada um dos meses de agosto e setembro de 2022, por município?\n        2- Faça as análises que julgar necessárias e deixe os resultados de suas análises plotadas no notebook.\n'

In [2]:
import geopandas as gpd 
import pandas as pd 
pd.set_option('display.max_columns', None)

In [23]:
#Lendo o arquivo focos-desmatamento-mg
focos_desmatamento = gpd.read_file(r"dados\focos-desmatamento-mg.geojson")

#Criando novas colunas para áreas dos focos em km**2 e hectares
focos_desmatamento["area_km2"] = focos_desmatamento.geometry.area / 1e6
focos_desmatamento["area_hectare"] = focos_desmatamento.geometry.area / 10000

#Criando uma nova coluna para os meses e ano baseada em Data Inicial e convertendo Data Inicial e Final para datetime
focos_desmatamento["Data Inicial"] = pd.to_datetime(focos_desmatamento['Data Inicial'], format='%d/%m/%Y')
focos_desmatamento["Data Final"] = pd.to_datetime(focos_desmatamento['Data Final'], format='%d/%m/%Y')
focos_desmatamento["mes"] = focos_desmatamento['Data Inicial'].dt.month_name().str.slice(stop=3)
focos_desmatamento["ano"] = focos_desmatamento['Data Inicial'].dt.year
focos_desmatamento

,ogc_fid,id,Instância,Data Inicial,Data Final,Cena,Score,Data Processamento,Bioma,NuFis,Cia PM,geometry,area_km2,area_hectare,mes,ano
0,1.0,6726,9696,2022-07-26,2022-08-05,22KFC,0.9,08/08/2022 13:08,Cerrado,Triângulo Mineiro,5,"POLYGON ((65610.256 7779397.013, 65659.326 777...",0.152271,15.227057,Jul,2022
1,2.0,6727,9700,2022-07-21,2022-07-26,22KFD,0.9,08/08/2022 13:08,Cerrado,Triângulo Mineiro,5,"POLYGON ((31696.271 7842130.438, 31989.678 784...",0.742292,74.229201,Jul,2022
2,3.0,6728,9701,2022-07-21,2022-07-26,22KFD,0.9,08/08/2022 13:08,Cerrado,Triângulo Mineiro,5,"POLYGON ((50597.259 7823297.562, 50665.831 782...",0.025648,2.564768,Jul,2022
3,4.0,6729,9702,2022-07-21,2022-08-05,22KFD,0.93,08/08/2022 13:08,Cerrado,Triângulo Mineiro,5,"POLYGON ((50538.446 7823306.388, 50636.036 782...",0.033141,3.314089,Jul,2022
4,5.0,6730,9703,2022-07-21,2022-08-05,22KFD,0.91,08/08/2022 13:08,Cerrado,Triângulo Mineiro,5,"POLYGON ((67719.523 7822648.620, 67877.128 782...",0.806718,80.671799,Jul,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2034,NaN,1484,3120,2022-08-16,2022-09-10,24LTH,0.98,None,Mata Atlântica,Jequitinhonha,15,"POLYGON ((923791.878 8252900.877, 923841.725 8...",0.040418,4.041796,Aug,2022
2035,NaN,1485,3119,2022-08-16,2022-09-10,24LTH,0.85,None,Mata Atlântica,Jequitinhonha,15,"POLYGON ((904720.028 8256294.185, 904749.044 8...",0.092372,9.237218,Aug,2022
2036,NaN,1486,3114,2022-08-16,2022-09-10,24LTH,0.81,None,Mata Atlântica,Jequitinhonha,15,"POLYGON ((888566.960 8258582.267, 888564.814 8...",0.200330,20.032973,Aug,2022
2037,NaN,1487,2830,2022-08-16,2022-09-10,23LRC,0.86,None,Mata Atlântica,Jequitinhonha,15,"POLYGON ((890075.753 8267489.965, 890066.941 8...",0.110854,11.085379,Aug,2022
2038,NaN,1488,3180,2022-08-16,2022-09-15,24LTH,0.92,None,Mata Atlântica,Jequitinhonha,15,"POLYGON ((891124.660 8269854.347, 891122.390 8...",0.035577,3.557678,Aug,2022

In [24]:
#Verificando quais meses iniciais e anos temos
print(focos_desmatamento.mes.unique())
print(focos_desmatamento.ano.unique())

['Jul' 'Aug' 'Jun' 'Sep']
[2022]

In [19]:
#Agora que sabemos que todos são de 2022, para responder 1.a, precisamos filtrar para Aug e Sep separadamente
focos_agosto = focos_desmatamento[focos_desmatamento["mes"] == "Aug"]
soma_area_agosto = focos_agosto["area_hectare"].sum()
print("Respondendo a questão: Qual a área total desmatada em hectares no estado de Minas Gerais em cada um dos meses de agosto e setembro de 2022?")
print(f"A somatória de Agosto de 2022 é de: {soma_area_agosto:.2f} ha")

focos_setembro = focos_desmatamento[focos_desmatamento["mes"] == "Sep"]
soma_area_setembro = focos_setembro["area_hectare"].sum()
print(f"A somatória de Setembro de 2022 é de: {soma_area_setembro:.2f} ha")

Respondendo a questão: Qual a área total desmatada em hectares no estado de Minas Gerais em cada um dos meses de agosto e setembro de 2022?
A somatória de Agosto de 2022 é de: 5238.75 ha
A somatória de Setembro de 2022 é de: 23466.84 ha

In [20]:
#Para responder 1.b vamos verificar quais biomas temos
focos_desmatamento.Bioma.unique()

array(['Cerrado', 'Mata Atlântica', 'Caatinga'], dtype=object)

In [32]:
#Agora selecionamos somente o recorte de Aug. e Sep. e separamos por bioma e depois somamos a área em km**2
focos_ago_set = focos_desmatamento[(focos_desmatamento["mes"] == "Aug") | (focos_desmatamento["mes"] == "Sep")]
focos_cerrado = focos_ago_set[focos_ago_set["Bioma"]=="Cerrado"]
soma_cerrado = focos_cerrado["area_km2"].sum()
print("Respondendo a questão: Qual a área total desmatada em km² no estado de Minas Gerais em todo o período fornecido (ago/set de 2022) por bioma?")
print(f"A somatória para o Cerrado é de: {soma_cerrado:.2f} km²")

focos_m_atlantica = focos_ago_set[focos_ago_set["Bioma"]=="Mata Atlântica"]
soma_m_atlantica = focos_m_atlantica["area_km2"].sum()
print(f"A somatória para a Mata Atlântica é de: {soma_m_atlantica:.2f} km²")

focos_caatinga = focos_ago_set[focos_ago_set["Bioma"]=="Caatinga"]
soma_caatinga = focos_caatinga["area_km2"].sum()
print(f"A somatória para a Caatinga é de: {soma_caatinga:.2f} km²")

Respondendo a questão: Qual a área total desmatada em km² no estado de Minas Gerais em todo o período fornecido (ago/set de 2022) por bioma?
A somatória para o Cerrado é de: 176.04 km²
A somatória para a Mata Atlântica é de: 66.26 km²
A somatória para a Caatinga é de: 44.76 km²

In [37]:
#Como temos um grande número de municipios, para a questão 1.c vamos criar dois csv's para a resposta: 
#1c_desmatamento_agosto_municipios_mg.csv e 1c_desmatamento_setembro_municipios_mg.csv e vamos plotar uma prévia deles aqui
#Eles vão conter: Municipio, Area desmatada km**2

#Também precisamos chamar o geojson de municipios
municipios_mg = gpd.read_file(r"dados\municipios-mg.geojson")
municipios_mg_red = gpd.GeoDataFrame()
municipios_mg_red["geometry"] = municipios_mg["geometry"]
municipios_mg_red["municipio"] = municipios_mg["name"]


focos_ago = focos_desmatamento[focos_desmatamento["mes"] == "Aug"]
focos_set = focos_desmatamento[focos_desmatamento["mes"] == "Sep"]

focos_ago_red = gpd.GeoDataFrame()
focos_set_red = gpd.GeoDataFrame()

focos_ago_red["geometry"] = focos_ago["geometry"]
focos_ago_red["area_desmatada_km2"] = focos_ago["area_km2"]

focos_set_red["geometry"] = focos_set["geometry"]
focos_set_red["area_desmatada_km2"] = focos_set["area_km2"]

C:\Users\Usuario\AppData\Local\Temp\ipykernel_16480\840214252.py:8: FutureWarning: You are adding a column named 'geometry' to a GeoDataFrame constructed without an active geometry column. Currently, this automatically sets the active geometry column to 'geometry' but in the future that will no longer happen. Instead, either provide geometry to the GeoDataFrame constructor (GeoDataFrame(... geometry=GeoSeries()) or use `set_geometry('geometry')` to explicitly set the active geometry column.
  municipios_mg_red["geometry"] = municipios_mg["geometry"]
C:\Users\Usuario\AppData\Local\Temp\ipykernel_16480\840214252.py:18: FutureWarning: You are adding a column named 'geometry' to a GeoDataFrame constructed without an active geometry column. Currently, this automatically sets the active geometry column to 'geometry' but in the future that will no longer happen. Instead, either provide geometry to the GeoDataFrame constructor (GeoDataFrame(... geometry=GeoSeries()) or use `set_geometry('geometry')` to explicitly set the active geometry column.
  focos_ago_red["geometry"] = focos_ago["geometry"]
C:\Users\Usuario\AppData\Local\Temp\ipykernel_16480\840214252.py:21: FutureWarning: You are adding a column named 'geometry' to a GeoDataFrame constructed without an active geometry column. Currently, this automatically sets the active geometry column to 'geometry' but in the future that will no longer happen. Instead, either provide geometry to the GeoDataFrame constructor (GeoDataFrame(... geometry=GeoSeries()) or use `set_geometry('geometry')` to explicitly set the active geometry column.
  focos_set_red["geometry"] = focos_set["geometry"]

In [48]:
'''
1.c - Qual a área total desmatada em km² no estado de Minas Gerais em cada um dos meses de agosto e setembro de 2022, por município?
'''

'\nQual a área total desmatada em km² no estado de Minas Gerais em cada um dos meses de agosto e setembro de 2022, por município?\n'

In [49]:
#Procedemos fazendo o overlay das geometrias do desmatamento com as geometrias dos municípios e um grupby por municipio somando as areas em km**2

#Para o mês de Agosto
focos_ago_mun = gpd.overlay(focos_ago_red, municipios_mg_red, how='intersection')
focos_ago_mun_sum = focos_ago_mun.groupby('municipio')['area_km2'].sum().reset_index()
focos_ago_mun_sum

#Gerando o csv
focos_ago_mun_sum.to_csv(r"dados/1c_desmatamento_agosto_municipios_mg.csv")

#Prévia
focos_ago_mun_sum

           municipio  area_km2
0            Aimorés  1.200132
1            Alfenas  0.165028
2           Almenara  0.090793
3        Alvinópolis  0.103041
4    Amparo do Serra  0.064465
..               ...       ...
149      Virgolândia  0.073579
150           Viçosa  0.020521
151         Água Boa  0.341885
152   Águas Formosas  0.262786
153  Águas Vermelhas  0.906330

[154 rows x 2 columns]

In [50]:
#Para o mês de Setembro
focos_set_mun = gpd.overlay(focos_set_red, municipios_mg_red, how='intersection')
focos_set_mun_sum = focos_set_mun.groupby('municipio')['area_km2'].sum().reset_index()

#Gerando o csv
focos_set_mun_sum.to_csv(r"dados/1c_desmatamento_setembro_municipios_mg.csv")

#Prévia
focos_set_mun_sum

               municipio  area_km2
0    Abadia dos Dourados  0.136073
1               Andradas  0.030624
2               Araguari  1.535693
3                Araporã  3.307656
4                 Arapuá  0.075840
..                   ...       ...
223      Varjão de Minas  0.228470
224          Varzelândia  0.279913
225              Vazante  0.818096
226          Verdelândia  1.960235
227      Várzea da Palma  0.722125

[228 rows x 2 columns]